@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Getting data
</h1>
<form>
    <div class="mb-3">
        <label class="form-label"
               for="tbSurname">
            Surname
        </label>
        <input class="form-control"
               id="tbSurname"
               placeholder="enter search term"
               type="text">
    </div>
    <input id="btnDemo1"
           type="button"
           value="Get data" />
    <input id="btnDemo2"
           type="button"
           value="Add data" />
</form>
<div id="results"></div>

@section Scripts
{
    <script type="text/javascript">
            $(document).ready(function () {
                 $('#btnDemo1').click(function () {
                    $.ajax({
                        type: 'GET',
                        contentType: "application/json; charset=utf-8",                        
                        dataType: "json",
                        url: '/data/bysurname/' + $("#tbSurname").val(),
                        success: function (result) {
                            let currentPerson = '';
                            for (let i = 0; i < result.length; i++) {
                                currentPerson += '<br>Name: ' + result[i].name;
                                currentPerson += '<br>Surname: ' + result[i].surname;
                                currentPerson += '<br>Age: ' + result[i].age;
                                currentPerson += '<br>------------------';
                            }
                             $('#results').html(currentPerson);                           
                        }
                    });
                });
                 
                 $('#btnDemo2').click(function () {
                    let data = { Name:"Luka", Surname:"Vrhovnik",Age: 5};
                    $.ajax({
                        type: 'POST',
                                              
                        dataType: "json",
                        data: JSON.stringify(data),
                        url: '/data/add',
                        success: function (result) {
                            let currentPerson = '';
                            for (let i = 0; i < result.length; i++) {
                                currentPerson += '<br>Name: ' + result[i].name;
                                currentPerson += '<br>Surname: ' + result[i].surname;
                                currentPerson += '<br>Age: ' + result[i].age;
                                currentPerson += '<br>------------------';
                            }
                             $('#results').html(currentPerson);                           
                        }
                    });
                });
            });
        </script>
}